extends layout 
 
block content 
  h1= title 
  if (toShow == null) 
    h2 No instance to update 
  else
    - let ornamentsid = toShow._id 
    - let OrnamentType = toShow.OrnamentType 
    - let OrnamentCost = toShow.OrnamentCost 
    - let OrnamentStrength = toShow.OrnamentStrength 
   
    div.row(class='mb-2') 
        div.mr-1 ID is 
        div #{ornamentsid} 
    - let actionid = "/resource/ornaments/" + ornamentsid 
    form(id='OrnamentsForm', action= actionid, method="PUT") 
        div.form-group 
            label.ornamentsAttr(for='OrnamentType') Ornament Type 
            input#OrnamentType(type='text', name='OrnamentType', value= OrnamentType ) 
        div.form-group 
            label.ornamentsAttr(for='OrnamentStrength') Ornament Strength  
            input#OrnamentStrength(type='text', name='OrnamentStrength', value= OrnamentStrength ) 
        div.form-group 
            label.ornamentsAttr(for='OrnamentCost') Ornament Cost  
            input#OrnamentCost(type='number', name='OrnamentCost', value= OrnamentCost ) 
        input(type="submit") 
 
    script. 
        document.forms['OrnamentsForm'].addEventListener('submit', (event) => { 
        event.preventDefault(); 
        // TODO do something here to show user that form is being submitted 
        fetch(event.target.action, { 
            method: 'PUT', 
            body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
        }).then((resp) => { 
            return resp.json(); // or resp.text() or whatever the server sends 
        }).then((body) => { 
            alert("Update succeded") 
            // TODO handle body 
        }).catch((error) => { 
            // TODO handle error 
            alert("Update failed " + error ) 
        }); 
        }); 